
/* Simple tags ======================================================== */
body {
	background: #eeeeee;
}

h1 {
    font: normal 26px Arial, serif;
	margin-top: 0;
	margin-left: 15px;
	margin-bottom: 10px; /* Отрицательный отступ между заголовком и текстом */
	color: #91784B;
	text-align: left; /* Выравнивание по ширине */
	font-weight: bold;
}
h2 {
    font: normal 26px Arial, serif;
	margin-top: 0;
	margin-bottom: 10px; /* Отрицательный отступ между заголовком и текстом */
	color: #C0A062;
	text-align: center; /* Выравнивание по ширине */
	font-weight: bold;
}
h3 {
    font: bold 16px Arial, serif;
	margin-top: 0;
	margin-bottom: 10px; /* Отрицательный отступ между заголовком и текстом */
	color: #C0A062;
	text-align: center; /* Выравнивание по ширине */
	font-weight: bold;
}



/* используется в Блок модального окна показа миниатюр */
.button_container {
	margin-left: 10px;
	float: left;
	display: inline-block;
}

.a_button_photo {
	display: inline-block;
	background-image: url(../img/photo.png);
	background-size: cover; /* Фон занимает всю доступную площадь */
	height:23px;
	width: 23px;
	float: left;
	padding-right: 2px;
	vertical-align: top;
}
.a_button_no_photo{
	display: inline-block;
	background-image: url(../img/no_photo.png);
	background-size: cover; /* Фон занимает всю доступную площадь */
	height:23px; 
	width: 23px;
	float: left;
	padding-right: 2px;
	vertical-align: top; 
}

.a_button_delete {
	display: inline-block;
	background-image: url(../img/delete.png);
	background-size: cover; /* Фон занимает всю доступную площадь */
	height:23px; 
	width: 23px;
	float: right;
	padding-right: 2px;
	vertical-align: top;
}

.button_set_time {
	display: inline-block;
	background-image: url(../img/set_time.png);
	background-size: cover; /* Фон занимает всю доступную площадь */
	height:23px;
	width: 23px;
	float: right;
	padding-right: 2px;
	vertical-align: top;
}

/*	--- Button Send photo --- -*/
.fileform { 
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 120px;
}
 
.fileform .selectbutton { 
    background-color: #A2A3A3;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 50px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:30; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 50px; 
    z-index:20;
}
/*	------------------	*/



input {
	width:100%;
	height:29px;
	padding: 0px; /* Поля вокруг текста */
	margin: 0px; /* Отступы вокруг */
	border: 0px;
	font: normal 16px Verdana, sans-serif;
}

.inputTime {
    float: left;
    height: 20px;
    width: calc(100% - 23px);
    box-sizing: border-box;
    padding: 0px; /* Поля вокруг текста */
    margin: 0px; /* Отступы вокруг */
    border: 0px;  
    display: inline-block;
}

.inputId {
    float: left;
    height: 20px;
    width: calc(100% - 46px);
    box-sizing: border-box;
    padding: 0px; /* Поля вокруг текста */
    margin: 0px; /* Отступы вокруг */
    border: 0px;  
    display: inline-block;
}

.divButtonSetTime{
    display: inline-block;
    float: right;
    width:23px;
	height:100%;
}

.divButtonPhoto{
    display: inline-block;
    width:23px;
	height:100%;
    float: left;
}
.divButtonDelet{
    display: inline-block;
    width:23px;
	height:100%;
    float: left;
}

/* Цвет текста дат в Постовой водомости у охранников, длительное время не сдающих оружие.  */
.redText {
    color: #EF264B;
	font: bold;
}
.purpleText {
    color: #D926B9;
	font: bold;
}
.bluishText {
    color: #AB26E1;
	font: bold;
}
.blueText {
    color: #0026FF;
	font: bold;
}

/********/






/* Таблица со списком оружия на странице gun */
#tableListGun {
    width:400px;
}

/* Таблица со списком клиентов на странице client */
#tableListClient {
    width:400px;
}
/* Ширина ячейки с кнопкой Удалить у таблиц клиентов, оружия, охранников и кнопки Оружие у таблицы охранников */
.buttonDelGun {
    width:70px;
}

/********/



#gun {
    visibility: hidden;
    position: relative;
}


.gunCheckbox{ 
    padding: 0px; /* Поля вокруг текста */
	margin: 0px; /* Отступы вокруг */
    height:20px;
}

/**** Table Manager Column Classes *****************************************/
.number_line {
    width:33px;
}
.id {
	width:100px; 
}
		
.data_vyezda{
	width:150px;
}
.vremja {
	width:60px;
}
.klient { 
	width:150px;
}
.podklient { 
	width:150px;	
}
.nomer_mashiny { 
	width:80px; 
	background: #D4B1D8;
}
.nomer_mashiny_mobi{ 
	width:150px; 
	background: #ffd;
	font-size:32px;
	border: 1px #fda solid;
}
.prinjatie_pod_ohranu {
	width:100px;
}
.sdacha_s_ohrany {
	width:100px;
}
.sostav_ohr {
	width:100px;
}
.fio {
	width:100px;
}
.vydano {
	width:80px;
}
.mashina {
	width:100px;
}
.srok_dostavki {
	width:68px;
}
.prinjatie {
	width:210px;
	background: #D4B1D8;
}
.prinjatie_mobi{
	width:280px;
	background: #ffd;
	font-size:24px;
	border: 1px #fda solid;
}
.sdacha {
	width:210px;
	background: #D4B1D8;
}
.sdacha_mobi {
	width:280px;
	background: #ffd;
	font-size:24px;
	border: 1px #fda solid;
}
.fakticheskij_srok_dostavki {
	width:80px;
	background: #6ac;
}
.prostoj_chasy {
	width:70px;
}
.prostoj_stavka_za_ohrannika {
	width:80px;
}
.prostoj_summa {
	width:80px;
	background: #6ac;
}
.stavka_bez_nds {
	width:80px;
}
.stavka_s_nds {
	width:80px;
}
.schet {
	width:90px;
	background: #6ac;
}
.zp {
	width:70px;
}
.prostoj {
	width:70px;
}
.arenda_mashin {
	width:70px;
}
.oplata_mashin {
	width:70px;
	background: #6ac;
}
.itogo {
	width:70px;
	background: #6ac;
}
.zp_plus_prostoj {
	width:95px;
	background: #6ac;
}

.container_default {
	display: inline-block;
	width:100%;
	height:100%;
}
.container_id {
	display: inline-block;
	width:50px;
	height:100%;
}



/********************** Modal forms **********************/
#modal_form {
	width: 90%; 
	height: 90%; 
	border-radius: 5px;
	border: 3px #000 solid;
	background: #abc;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 0%; 		/* oтступaем сверху 5% */
	display: none; 	/* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; 	/* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; 	/* oкнo дoлжнo быть сверху */
	padding: 2px 2px;
}

#modal_form #modal_close {
	width: 36px;
	height: 36px;
	position: absolute;
	top: -15px;
	right: 5px;
	cursor: pointer;
	display: block;
	border: 3px #555 solid;
	background: #789;
	z-index: 10; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	border-radius: 5px;
}

#overlay {
	z-index:3; 			/* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; 	/* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; 		/* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; 	/* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 		/* рaзмерoм вo весь экрaн */
	top:0; 				/* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; 		/* в oбычнoм сoстoянии её нет */
}


/*	Оформление внутренностей модального окна с информацией о рейсе		*/
.div_table_info_flight {
	background-color:#7A9BFF; /* бледно-синий */
	display: block;
	float: left;
	position:relative;
	border: 1px, #9ABBFF;
}

.div_line_info {
	display: block;
	margin-bottom: 2px;
}


.left_div {
	width: 120px; 
	display: block;
	background-color:#4cf; /*  */
	float: left;
	position:relative;
	margin-bottom: 2px;
}

.right_div {
	width: 160px; 
	display: block;
	background-color:#6bc; /*  */
	float: right;
	position:relative;
	margin-bottom: 2px;

}

#number {
	display: block;
	float: left;
	position:relative;
	font-size:32px;
	height: 40px;
	width: 110px;
}

#div_right_string5 {
	display: inline-block;
	margin-left: 30px;
	margin-top: 10px;
}

#div_right_string6{
	display: inline-block;
}

#div_right_string6::before {
	content:" — ";
}

#div_right_string7{
	height: 40px;
}

#div_right_string8{
	height: 40px;
}

.ajax-respond {
	display: inline-block;
	float: right;
	visibility: hidden;
	margin-top: -40px;
}



/*	Модальное окно показа фотографий, приаттаченных к рейсу	*/
#modal_form_for_photo {
	width: 60%; 
	height: 80%;
	border-radius: 5px;
	border: 3px #000 solid;
	background: #abc;
	position: fixed; 	/* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 0%; 			/* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; 			/* пoлoвинa экрaнa слевa */
	margin-top: 10px;
	margin-left: -450px; /* oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo */
	display: none; 		/* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; 		/* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5;		 	/* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 2px 2px;
	overflow: auto; 	/* свойство для прокрутки по горизонтали. Автоматом, если содержимое больше блока */

}		

#modal_form_for_photo #modal_close_form_for_photo {
	width: 36px;
	height: 36px;
	position: absolute;
	top: -15px;
	right: 5px;
	cursor: pointer;
	display: block;
	border: 3px #555 solid;
	background: #789;
	z-index: 10; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	border-radius: 5px;
}

#overlay_for_photo {
	z-index:3; 				/* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; 		/* всегдa перекрывaет весь сaйт */
	background-color:#000; 	/* чернaя */
	opacity:0.3; 			/* нo немнoгo прoзрaчнa */
	-moz-opacity:0.3; 		/* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=30);
	width:100%; 
	height:100%; 			/* рaзмерoм вo весь экрaн */
	top:0; 					/* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; 			/* в oбычнoм сoстoянии её нет) */
}


/* Содержимое модального окна фотографий */
#largeImg {
  border: solid 1px #ccc;
  width: 400px;
/*  height: 400px; */
  padding: 5px;
}

#thumbs a {
  border: solid 1px #ccc;
  width: 100px;
  height: 100px;
  padding: 3px;
  margin: 2px;
  float: left;
}

#thumbs a:hover {
  border-color: #FF9900;
}

#thumbs li {
  list-style: none;
  height: 130px;
}

#thumbs {
  margin: 0;
  padding: 0;
}

/* Подписи к фотографиям */
figure.photo_prev {
  margin: 0;
  text-align: center;
}

figure.photo_prev figcaption {  /* стиль описания */
  padding: 0 1%;
  font: 80% Georgia,serif;
}


/* -------------- Guards List -----------------	*/

/* Список охранников, выводимый в таблицу менеджера	*/
.list_users {
	height:100%;   
}
/* Список оружия, выводимый в Постовую ведомость	*/
.list_guns {
	height:100px;
    width: 200px;
    
}

/* Убираем отступ снизу у форм, чтобы на странице охранников таблица была компактнее */
.form-group {
    margin-bottom: 0px;
    /*height: 20px; */
    padding: 0px;
}

/*   */
.sentryHeader {
    float: right;
}




/* Переводим изменения бутстрапа из ассетс */

/*.table > thead > tr > th, */
.table > thead > tr, th,
/*.table > tbody > tr > th, */
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.bg-primary {
  color: #111;
  background-color: #9FBF76;
}

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*Эксперименты с вёрсткой */
#buttonModal {
    visibility: hidden;
}

/*Эксперименты с вёрсткой */





